@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.about {
    padding: 60px 20px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}

.about h2{
    margin-bottom: 20px;
}

.about p {
    font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;  
}

.about-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}
.about-image {
    width: 250px;  
    height: 400px;  
    overflow: hidden; 
    border-radius: 15px;
}

.about-image img {
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}

.about-text {
    text-align: justify;  
    max-width: 60%;  
}

@media only screen and (max-width: 375px) {
    .about-image {
        width: 90%;  
        height: auto;  
        
    }
}

