@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contact {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contact-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dues columnes de la mateixa mida */
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.contact-box {
  display: flex;
  align-items: center;  /* Alinea les icones verticalment */
  justify-content: flex-start;  /* Asegura que les icones estiguin alineades a l'esquerra */
  background-color: white;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
  text-align: left;  /* Assegura que el text estigui alineat a l'esquerra */
}

.contact-box:hover {
  background-color: #d8eaf7;
}

.contact-icon {
  display: flex;
  justify-content: center; /* Centra les icones */
  align-items: center;     /* Alinea verticalment les icones */
  margin-right: 20px;      /* Espai entre icones i text */
}

.contact-icon img {
  width: 48px;
  height: 48px;
  color: #7a9bb8;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el text verticalment dins de la columna */
  text-align: center; /* Alinea el text horizontalment al centre */
  flex-grow: 1; /* Asegura que el text ocupi l'espai restant */
}

.contact-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #547e9b;
}

.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #777777;
}

@media (max-width: 768px) {
  .contact-buttons {
    grid-template-columns: 1fr; /* Una columna en pantalles petites */
    max-width: 100%;
    padding: 0px;
    box-sizing: border-box;
  }

  .contact-box {
    width: 100%;  /* Ocupa tota l'amplada disponible */
    max-width: 100%;
    margin-bottom: 10px;
    height: auto;
    padding: 15px;
  }

  .contact-info {
    font-size: 12px !important;
    word-break: break-word;
    overflow-wrap: break-word;
  }


}
