.contact {
    padding: 60px 20px;
    max-width: 800px;  /* Aumenta el ancho del formulario */
    margin: auto;
    text-align: center;
}

.contact-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

.contact-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .contact-buttons {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

}

.contact-box:hover {
  background-color: #d8eaf7;
}

.contact-icon img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  color: #7a9bb8
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #7a9bb8

}

.contact-info {
  font-size: 1rem;
  color: #777777;
}