@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.education-container {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se ajusten a nuevas filas si no caben */
    justify-content: space-between; /* Distribuye los elementos de manera equitativa */
    align-items: flex-start; /* Alinea los elementos al principio de la fila */
    padding: 0px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.education-item {
    display: flex;               /* Establece el contenedor como un flexbox */
    flex-direction: column;      /* Apila los elementos en columna (de arriba a abajo) */
    justify-content: space-between;  /* Asegura que los elementos internos se distribuyan a lo largo de la altura fija */
    align-items: center;         /* Centra los elementos horizontalmente */
    background-color: white;     /* Fondo blanco */
    padding: 20px;
    margin: 10px;                /* Añade margen lateral para separarlos */
    border-radius: 10px;         /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    text-align: center;          /* Alineación de texto en el centro */
    width: calc(33% - 20px);      /* Ancho de los elementos, ajustado para tres elementos por fila */
    max-width: 30%;              /* Asegura que no se expanda demasiado */
    height: 740px;               /* Altura fija para cada item */
    box-sizing: border-box;      /* Asegura que el padding y el border no aumenten el tamaño total del elemento */
}

.education-item:hover{
    background-color: #d8eaf7;
}

.education-item h3 {
    
    font-size: 1.5rem;
    margin-bottom: 10px;
    flex-grow: 0;                /* No deja que el título crezca */
}

.education-item h4{
    color: #547e9b;
}

.education-item p {
    font-size: 1rem;
    color: #555;
    flex-grow: 1;                /* Permite que el texto se ajuste a la altura disponible */
    margin-bottom: 20px;         /* Añade algo de espacio debajo del texto */
    font-family: 'Montserrat', sans-serif;
}

.education-item img {
    width: 80%;                 /* Asegura que la imagen ocupe el 80% del espacio disponible */
    height: auto;                /* Mantiene la relación de aspecto */
    margin-top: 10px;            /* Añade algo de espacio arriba de la imagen */
    flex-grow: 0;                /* La imagen no se expande más allá de su tamaño natural */
}

@media screen and (max-width: 100px) {
    .education-item {
        height: auto; /* Permite que el contenido ajuste su altura */
    }
}

@media screen and (max-width: 768px) {
    .education-container {
        flex-direction: column; /* Los elementos se apilan en columna */
        align-items: center; /* Centra los elementos */
        width:100%;
        padding: 0 10px;
        overflow-x: hidden;
    }

    .education-item {
        width: calc(100% - 20px); /* Ocupa todo el ancho disponible */
        max-width: 100%; /* Asegura que se adapte correctamente */
        margin-bottom: 10px; /* Elimina los márgenes para que se ajuste bien */
        height: auto; /* Permite que el contenido ajuste su altura */
        padding: 15px; /* Ajusta el padding para que no ocupe demasiado espacio */
    }

}