@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.education-container {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
    align-items: stretch; 
    padding: 0px;
    margin: 0 auto; 
}

.education-item {             
    display: flex;
    flex-direction: column;      
    justify-content: flex-start;
    align-items: center;         
    background-color: white;     
    padding: 20px;
    margin: 10px;                
    border-radius: 15px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;          
    width: calc(33% - 20px);      
    max-width: 30%;              
    box-sizing: border-box;     
}

.education-item:hover{
    background-color: #d8eaf7;
}

.education-item h3 {
    color: #353535;
    font-size: 1.5rem;
    flex-grow: 0;                
}

.education-item h4{
    color: #547e9b;
}

.education-item p {
    font-size: 1rem;
    color: #555;
    flex-grow: 1;                
    margin-bottom: 20px;         
    font-family: 'Montserrat', sans-serif;
}

.education-item img {
    width: 80%;                
    height: auto;               
}

.titol-formacio{
    height: 150px;
    align-items: center;      
    justify-content: center;  
    display: flex;     
    padding: 0;           
}

.data-formacio{
    height: 70px;
    padding: 0;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
}

.escola-formacio{
    height: 50px;
    margin:0;
    align-items: center; 
    justify-content: center;
}

.descripcio-formacio {
    align-items: center;      
    justify-content: center;  
    flex-grow: 1;            
    margin: 0;
    padding: 0 10px;
}

.image-formacio {
    display: flex;           
    align-items: flex-end;   
    justify-content: center; 
    height: 110px;           
}

@media screen and (max-width: 100px) {
    .education-item {
        height: auto; 
    }
}

@media screen and (max-width: 768px) {
    .education-container {
        flex-direction: column; 
        align-items: center; 
        width:100%;
        padding: 0 10px;
        overflow-x: hidden;
    }

    .education-item {
        width: calc(100% - 20px); 
        max-width: 100%; 
        margin-bottom: 25px; 
        height: auto; 
        padding: 15px; 
    }

    .titol-formacio,
    .data-formacio,
    .escola-formacio,
    .image-formacio {
        height: auto;
    }

}
