@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.education-container {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;  /* Els elements s'adapten a altres files si no hi caben */
    justify-content: space-between; /* Distribueix els elements de manera equitativa */
    align-items: flex-start; /* Alinea els elements al principi de la fila */
    padding: 0px;
    margin: 0 auto; /* Centra el contenidor horizontalment */
}

.education-item {             
    flex-direction: column;      /* Apila els elements en columna */
    justify-content: flex-start;
    align-items: center;         
    background-color: white;     
    padding: 20px;
    margin: 10px;                
    border-radius: 15px;         /* Bordes arrodonits */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ombra suau */
    text-align: center;          
    width: calc(33% - 20px);      /* Amplada dels elements */
    max-width: 30%;              /* Assegura que no s'expandeixi massa */
    height: 740px;               /* Altura fixa par a cada item */
    box-sizing: border-box;      /* Asegura que el padding i el border no augmentin la mida total de l'element */
}

.education-item:hover{
    background-color: #d8eaf7;
}

.education-item h3 {
    color: #353535;
    font-size: 1.5rem;
    flex-grow: 0;                /* No deixa que el títol creixi */
}

.education-item h4{
    color: #547e9b;
}

.education-item p {
    font-size: 1rem;
    color: #555;
    flex-grow: 1;                /* Permet que el text s'ajusti a l'altura disponible */
    margin-bottom: 20px;         
    font-family: 'Montserrat', sans-serif;
}

.education-item img {
    width: 80%;                
    height: auto;               
}

.titol-formacio{
    height: 150px;
    align-items: center;      /* Centrat vertical */
    justify-content: center;  /* Centrat horizontal */
    display: flex;     /* Centrat verticalmente */
    padding: 0;           
}

.data-formacio{
    height: 70px;
    padding: 0;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
}

.escola-formacio{
    height: 50px;
    margin:0;
    align-items: center; 
    justify-content: center;
}

.descripcio-formacio {
    align-items: center;      /* Centrat vertical */
    justify-content: center;  /* Centrat horizontal */
    height: 320px;            /* o l'altura que necesites */
    margin: 0;
    padding: 0 10px;
}

.image-formacio {
    display: flex;           
    align-items: flex-end;   /* Alinea la imatge al fons */
    justify-content: center; /* Centra horizontalmente la imatge */
    height: 110px;           
}



@media screen and (max-width: 100px) {
    .education-item {
        height: auto; 
    }
}

@media screen and (max-width: 768px) {
    .education-container {
        flex-direction: column; /* Elements s'apilan en columna */
        align-items: center; /* Centra els elements */
        width:100%;
        padding: 0 10px;
        overflow-x: hidden;
    }

    .education-item {
        width: calc(100% - 20px); /* Ocupa tota l'amplada disponible */
        max-width: 100%; /* Asegura que s'adapti correctament */
        margin-bottom: 10px; /* Elimina els marges per a que s'ajusti bé */
        height: auto; /* Permet que el contingut ajusti la seva altura */
        padding: 15px; /* Ajusta el padding per a que no ocupi massa espai */
    }


}
