@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.experience {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.experience-item {
    background-color: white;  /* Fons blanc */
    padding: 20px;
    margin: 20px 0;  
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ombra suau */
    text-align: left;  /* Alineació del text a l'esquerra */
}

.experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experience-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #555;
}

/* Media query per a pantalles petites (mòbils) */
@media (max-width: 768px) {
    .experience-item {
        flex-direction: column;  /* Cambiar la direcció a columna quan la pantalla és petita */
        text-align: center;  /* Centrar el text */
    }

    .experience-item img {
        width: 80%;  
        margin-left: 0;  
        margin-top: 15px;  
    }

    .experience-item h3, .experience-item p {
        max-width: 100%;  
    }
}

