@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    scroll-behavior: smooth;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    text-align: center;
    background:  #9bbcd4;
    color: #333;
    border-bottom: 5px solid #9bbcd4;
}

header h1{
    font-family: "Courier New", sans-serif;
    font-size: 80px;
    font-weight: bold;
}

header p{
    color: rgb(51, 51, 51);
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}

.typewriter {
    font-family:"Courier New", sans-serif;
    display: inline-block;             /* Necesasari per animar l'ample */
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;    /* Cursor */
    animation: typing 8s steps(42, end) forwards,
    blink 0.7s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
  0% { width: 0; }
  37.5% { width: 42ch; }   /* escriure en 3s */
  87.5% { width: 42ch; }   /* parar 4s */
  100% { width: 0; }       /* borrar en 1s */
}


@keyframes blink {
  50% { border-color: transparent; }
}

.content-wrapper {
    max-width: 900px; /* Estableix l'ample màxim */
    margin: 0 auto;   /* Centra el contingut */
    padding: 0px;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 80%;
    max-width: 1000px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-align: center;
    min-width: 125px;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
}


nav a:hover {
    font-weight: bold; 
}

nav a.active {
    background-color: #d8eaf7;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


nav .flags {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end; 
    margin-left:40px;
    justify-content: center;
}


/* Estilo para las banderas */
nav .flag {
    width: 30px; 
    height: 30px;
    border-radius: 50%; /* Circular */
    background-size: cover; /* Asegura que la imatge s'ajusti a la mida del contenidor */
    background-position: center; /* Centra la imatge dins del contenidor */
    opacity: 40%;

}

nav .flag.selected {
    opacity: 90%; 
}

nav .flag-link {
    text-decoration: none; 
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    margin: 0; 
    padding: 0; 
    min-width: 0px;
}

/* Botó hamburguesa ocult por defecto */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

.menu-content {
  display: flex;
  gap: 10px;
  align-items: center;

}

/* Responsive: ocultar menu-content i mostrar botó */
@media (max-width: 1260px) {

    header{
        padding:70px;
        padding-bottom: 100px;
    }

    header h1{
        font-size:65px !important;
        margin-bottom: 10px;
    }

  nav {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .menu-toggle {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }

  /* Estil vertical per a mòbil */
  .menu-content {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  nav.show .menu-content {
    display: flex;
  }

  .menu-content a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .flags {
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
    margin-top: 15px;
    gap: 0px; 
    padding:0px;

  }


  h2{
    font-size: 50px !important;
  }
  
}

section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #9bbcd4;
    color: rgb(0, 0, 0);
}

footer p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.social-buttons {
        margin-top: 20px;
        text-align: center;
    }

.social-buttons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px; 
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    width:150px;
    margin-bottom:10px;
    border-color:white;
    
}

.btn-github {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.btn-github a{
    color:white;
}
.btn-github img {
    width: 25px;  
    height: 25px; 
    margin-right: 10px;
}

.btn-mail {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}


.btn-mail img {
    width: 25px; 
    height: 25px; 
    margin-right: 10px;
}

/* Estilo para el botón de LinkedIn */
.btn-linkedin {
    background-color: #547e9b;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.btn-linkedin a{
    color:white;
}

.btn-linkedin img {
    width: 25px;  
    height: 25px; 
    margin-right: 10px;
}

.social-buttons a:hover {
    opacity: 0.8;
    color:white;
}

.social-buttons a:hover {
    opacity: 0.8;
    color:white;
}

.social-buttons .btn-mail:hover {
  color: black;
}


.social-buttons i {
    margin-right: 10px; 
}


.g-recaptcha {
    margin: 20px 0;
    transform: scale(0.85); 
    transform-origin: 0 0;
    max-width: 700px; 
    width: 100%;
}

h2 {
    font-family: 'Courier New', sans-serif;
    font-size: 50px;
    color:#547e9b;
}

p {
    line-height: 1.6; 
    font-family: 'Roboto';
    
}


@media only screen and (max-width: 768px) {


    header{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;   
        width: 100%;
        height: 80vh;             
        padding: 0;                
        box-sizing: border-box;    
    }
    
   
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-image img {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .about-text {
        max-width: 100%;
        text-align: center;
    }

    /* Proyectos */
    .projects-item {
        padding: 10px;
    }

    .projects-content img {
        width: 100%;
    }

    /* Footer */
    footer {
        font-size: 0.9em;
    }

    /* Ajuste de texto para más claridad en móviles */
    header h1 {
        font-size: 2em;
    }

    header h3 {
        font-size: 1em;
    }

    section h2 {
        font-size: 40px;
    }
    
    .social-buttons a{
        margin: 5px;
    }

}


@media only screen and (max-width: 375px) {
    body {  
        overflow-x: hidden;
    }

    header{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;   
        width: 100%;
        height: 80vh;             
        padding: 0;               
        box-sizing: border-box;   
    }



    header h3 {
        max-width: 90vw;
        margin: 0 auto;
        overflow-wrap: break-word; 
        box-sizing: border-box;
        font-size: 3.5vw;
    }
    
    
   
    .content-wrapper {
        padding: 0px;
    }

    nav a {
        font-size: 0.9em;
    }

    section h2 {
        font-size: 40px;
    }

    footer {
        font-size: 0.8em;
    }

    .btn-demo {
        font-size: 0.9em;
    }

    .social-buttons a{
        margin: 5px;
    }

    .menu-toggle {
        width: 100vw;          
        max-width: 100%;       
        box-sizing: border-box; 
        padding: 10px 20px;   
        overflow-x: hidden;   
    }

    .flags {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 70%;
        margin: 0 auto;
        gap: 0.5rem; 
        padding:0px;
    }
}

@media only screen and (max-width: 322px) {
    h2 {
        font-size:30px !important;
    }
}







